*/migrations/*
*/__pycache__/*
*__pycache__*
*__init__*
*/static/*
static/*
*/__init__.py
!wagtailitalia/static/scss/

media/images/*
media/original_images/*
media/documents/*

config/backup.sh
config/sync.sh
config/update.sh
config/git.sh

install.sh
update.sh
manage.py

Dockerfile
db.sqlite3

.dockerignore
.secret
.env


