*/migrations/*
*/__pycache__/*
*__pycache__*
*__init__*
Dockerfile
*/__init__.py
db.sqlite3
static/*
media/images/*
.dockerignore
deploy_already.sh
export_db.sh
whole.json
update.sh
install.sh
.secret
