{% load wagtailimages_tags %}

<h1 class="text-center mb-3">{{ self.title }}</h1>

<div class="row">
{% for card in self.cards %}
{% image card.image fill-300x200 as img %}

<div class="card mb-3 col-lg-4 col-md-6 col-sm-12 p-0">
  <img src="{{img.url}}" alt="{{img.alt}}" class="card-img-top">
  <div class="card-body p-0">
  	<h3 class="card-header p-1">{{card.title}}</h3>
    <p class="card-text">{{card.text}}</p>
    {% if card.button_page %}
    <a href="{{card.button_page.url}}" class="btn btn-primary">
    	Learn More
    </a>
  	{% elif card.button_url %}
  	<a href="{{card.button_url}}" class="btn btn-primary">
    	Learn More
    </a>
	   {% endif %}
  </div>    
</div>
{% endfor %}
<div class="clearfix"></div>
</div>
