{% load wagtailimages_tags wagtailcore_tags %}
<div class="container-fluid jumbotron">
  <div class="container">
<div class="row gx-5 align-items-center justify-content-center">
  <div class="col-lg-8 col-xl-7 col-xxl-6">
    <div class="my-5 text-center text-xl-start">
      <h4 class="display-5 fw-normal mb-2 mb-sm-4">{{self.title}}</h4>
      
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start mb-3 jumbotron-button">
        {% if self.buttons %}
          {% for button in self.buttons %}          
          {{button}}
          {% endfor %}
        {% endif %}
      </div>            
    </div>
  </div>
  {% image self.image max-680x450 as home_image %}
  <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{ home_image.url }}" alt="{{ home_image.alt }}" /></div>
  </div>
  </div>
  </div>


