{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}
{% load wagtailcore_tags %}


{% block content %}
{% if self.heading_image %}
    {% image self.heading_image max-2400x600 as heading_image %}
		<img src="{{ heading_image.url }}" class="w-100 heading-image" alt="{{heading_image.alt}}">

{% endif %}

<!-- Page title -->
<div class="container mt-4">
  <h1 class="my-5 text-center">{{self.heading}} {% if tag %} - {{tag|title}}{% endif %} </h1>
</div>

<!-- Blog List view -->
{% if elements %}
<div class="container">
      <div class="row">
              {% for element in elements %}
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                  <div class="card-item">
                  {% image element.card_image max-500x500 as card_img %}
                    <a href="{{element.url}}">
                      <img src="{{card_img.url}}" alt="{{card_img.alt}}" class="card-img">
                    </a>
                    <div class="card-header center-vertically text-center">

                        <a class="text-decoration-none fw-bold text-white" href="{{ element.url}}">
                          <h5>
                            {{ element.title }}
                          </h5>
                        </a>


                        {% if element.intro %}

                        <p>
                        {{element.intro|richtext}}
                        </p>
                      
                        {% endif  %}
                    </div>

                </div>
                </div>
                {% endfor %}
      </div>
</div>
{% endif %}

{% endblock %}
