{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}
{% load wagtailcore_tags %}


{% block content %}
{% if self.heading_image %}
    {% image self.heading_image max-2400x600 as heading_image %}
		<img src="{{ heading_image.url }}" class="w-100 heading-image" alt="{{heading_image.alt}}">

{% endif %}

<!-- Page title -->
<div class="container mt-4">
  <h1 class="my-5 text-center">{{self.heading}} {% if tag %} - {{tag|title}}{% endif %} </h1>
</div>


{% for block in page.content %}
	{% include_block block %}
{% endfor %}

<!-- Blog List view -->
{% if elements %}
<div class="container">
      <div class="row justify-content-evenly">
              {% for element in elements %}
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 my-2">
                  <div class="card-item">
                  {% image element.card_image max-500x500 as card_img %}
                    <a href="{{element.url}}">
                      <img src="{{card_img.url}}" alt="{{card_img.alt}}" class="card-img">
                    </a>
                    <div class="card-header center-vertically text-center">

                        <a class="text-decoration-none fw-bold" href="{{ element.url}}">
                          <h5 class="card-text">
                            {{ element.title }}
                          </h5>
                        </a>
                    </div>

                </div>
                </div>
                {% endfor %}
      </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="Page navigation example">
        {% if elements.paginator.num_pages > 1 %}
        <ul class="pagination">
          {% if elements.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{elements.previous_page_number}}">Previous</a></li>          
          {% endif %}
            {% for page_num in elements.paginator.page_range %}
            <li class="page-item {% if page_num == elements.number %} active {% endif %}"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
            {% endfor %}          
          {% if elements.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{elements.next_page_number}}">Next</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</div>



{% endblock %}
