{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}
{% load wagtailcore_tags %}

{% block content %}
{% if self.heading_image %}
    {% image self.heading_image max-2400x600 as heading_image %}
		<img src="{{ heading_image.url }}" class="w-100 heading-image" alt="{{heading_image.alt}}" />

{% endif %}

<!-- Page title -->
<div class="container mt-4">
  <h1 class="my-5 text-center">{{self.heading}} {% if tag %} - {{tag|title}}{% endif %} </h1>
</div>

{% if self.intro %}
    <div class="container mt-4">
      <p>
        {{ self.intro |richtext}}
      <p>
    </div>
{% endif %}


<!-- An if clause that checks whether the individual elements have a country attribute -->
{% if countries %}
<!-- A button for each country inside a container and in the same column-->
<div class="container my-3">
  <div class="row">
    <div class="col-lg-12">
      <!-- create a nav with buttons disposed centrally -->
      
      <nav aria-label="Countries" >
        {% for country in countries %}
        <a href="#" class="btn btn-primary btn-sm mr-2 mb-2">{{country}}</a>
        {% endfor %}
      </nav>
    </div>
  </div>  
{% endif %}


<div class="container my-3">
  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="Page navigation example">
        {% if elements.paginator.num_pages > 1 %}
        <ul class="pagination">
          {% if elements.has_previous %}
            {% if tag %}
            <li class="page-item"><a class="page-link" href="?tags={{tag}}&page={{elements.previous_page_number}}">Previous</a></li>          
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{elements.previous_page_number}}">Previous</a></li>          
            {% endif %}
          {% endif %}
            {% if tag %}
              {% for page_num in elements.paginator.page_range %}            
              <li class="page-item {% if page_num == elements.number %} active {% endif %}"><a class="page-link" href="?tags={{tag}}&page={{page_num}}">{{page_num}}</a></li>
              {% endfor %}          
            {% else %}
              {% for page_num in elements.paginator.page_range %}            
              <li class="page-item {% if page_num == elements.number %} active {% endif %}"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
              {% endfor %}          
            {% endif %}
          {% if elements.has_next %}
            {% if tag %}
            <li class="page-item"><a class="page-link" href="?tags={{tag}}&page={{elements.next_page_number}}">Next</a></li>                                  
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{elements.next_page_number}}">Next</a></li>
            {% endif %}
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</div>

<!-- Blog List view -->
{% if elements %}
<div class="container">
      <div class="row justify-content-evenly">
              {% for element in elements %}
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 my-2">
                  <div class="card-item h-100">
                  {% image element.card_image max-500x500 as card_img %}
                    <a href="{{element.url}}">
                      <img src="{{card_img.url}}" alt="{{card_img.alt}}" class="card-img" />
                    </a>
                    <div class="card-header center-vertically text-center">
                        <a class="text-decoration-none fw-bold" href="{{ element.url}}">
                          <h5 class="card-text">
                            {{ element.title }}                            
                          </h5>
                          
                        </a>
                        <p class="card-text card-intro">
                          {{element.intro | richtext}}
                        </p>
                    </div>

                </div>
                </div>
                {% endfor %}
      </div>
</div>
{% endif %}


<div class="container my-3">
  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="Page navigation example">
        {% if elements.paginator.num_pages > 1 %}
        <ul class="pagination">
          {% if elements.has_previous %}
            {% if tag %}
            <li class="page-item"><a class="page-link" href="?tags={{tag}}&page={{elements.previous_page_number}}">Previous</a></li>          
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{elements.previous_page_number}}">Previous</a></li>          
            {% endif %}
          {% endif %}
            {% if tag %}
              {% for page_num in elements.paginator.page_range %}            
              <li class="page-item {% if page_num == elements.number %} active {% endif %}"><a class="page-link" href="?tags={{tag}}&page={{page_num}}">{{page_num}}</a></li>
              {% endfor %}          
            {% else %}
              {% for page_num in elements.paginator.page_range %}            
              <li class="page-item {% if page_num == elements.number %} active {% endif %}"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
              {% endfor %}          
            {% endif %}
          {% if elements.has_next %}
            {% if tag %}
            <li class="page-item"><a class="page-link" href="?tags={{tag}}&page={{elements.next_page_number}}">Next</a></li>                                  
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{elements.next_page_number}}">Next</a></li>
            {% endif %}
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</div>


{% for block in page.content %}
	{% include_block block %}
{% endfor %}


{% endblock %}
