
{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}


{% block content %}

{% image self.heading_image fill-2400x600 as heading_image %}

<img src="{{ heading_image.url }}" alt="{{ heading_image.alt }}" class="heading-image">
<!-- Page title -->
<div class="container mt-5 mb-5 ">
<div class="text-center">
  <h1 class="my-5 text-center">{{self.title}}</h1>
    <h3>
      {% if self.intro %}
        {{ self.intro|richtext }}
      {% endif %}
    </h3>
  </div>
</div>


{% for block in page.content %}
	{% include_block block %}
{% endfor %}

<div class="container my-3">
	<div class="row">
		<div class="col">
			<a class='btn btn-primary' href='https://www.linkedin.com/sharing/share-offsite/?url={{self.full_url}}' target="_blank">Share on Linkedin</a>
			<a class='btn btn-primary' href='https://twitter.com/intent/tweet?url={{self.full_url}}' target="_blank">Share on Twitter</a>
			</div>
	</div>
</div>


{% endblock %}
