[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/home/admin/wagtail-italia.it/run/gunicorn.sock
SocketUser=admin

[Install]
WantedBy=sockets.target