{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}

{% image self.heading_image fill-2400x600 as heading_image %}

<img src="{{ heading_image.url }}" alt="{{ heading_image.alt }}" class="heading-image" />


<div class="container mt-4">
	<!-- Page title -->
    <h1 class="my-5 text-center">{{page.title}}</h1>
</div>

{% for block in page.content %}
	{% include_block block %}
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="{% pageurl page %}" method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {% if field.field.widget.input_type == 'text' %}
                    <div class="form-group mb-3">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <input type="{{ field.field.widget.input_type }}" class="form-control"
                                name="{{ field.name }}" id="{{ field.id_for_label }}"
                                {% if field.field.required %}required="required"{% endif %}/>                        
                    </div>                    
                    {% elif field.field.widget.input_type == 'email' %}
                    <div class="form-group mb-3">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <input type="{{ field.field.widget.input_type }}" class="form-control"
                                name="{{ field.name }}" id="{{ field.id_for_label }}"
                                {% if field.field.required %}required="required"{% endif %}/>
                    </div>
                    {% elif field.field.widget.input_type == 'checkbox' %}
                    <div class="form-check mb-3">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <input type="{{ field.field.widget.input_type }}" class="form-check-input"
                                name="{{ field.name }}" id="{{ field.id_for_label }}"
                                {% if field.field.required %}required="required"{% endif %}/>
                    </div>                    
                    {% elif field.field.widget.input_type == None %}
                    <div class="form-group mb-3">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <textarea class="form-control" name="{{field.name}}" id="{{ field.id_for_label }}" rows="5"></textarea>
                    </div>
                    {% endif %}                    
                {% endfor %}
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}