{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container-fluid">  
  {% if carousel %}
    <div class="row">

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  {% for post in carousel %}
                      {% image post.heading_image fill-2400x500 as heading_image %}
                      <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">

                          <img src="{{ heading_image.url }}" class="d-block w-100 heading-image" alt="{{heading_image.alt}}">



                      <div class="container-fluid carousel-home">
                      <div class="carousel-caption {% if settings.themes.Theme.dark_background_color %}text-light{% else %}text-dark{% endif %}">
                      <h3 class="fw-bold {% if settings.themes.Theme.dark_background_color %}text-light{% else %}text-dark{% endif %}">{{ post.title }} </h3>
                      {% if post.intro %}<p>{{post.intro|richtext}}</p>{% endif %}
                      <a class="btn btn-sm btn-secondary mb-1" href="{{post.url}}">Read more</a>
                              </div>
                              </div>
                      </div>
                  {% endfor %}
              </div>
              {% if carousel.all|length > 1 %}
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                  </button>
              {% endif %}
          </div>

  {% endif %}
</div>
</div>
{% for block in page.content %}
    <div class="container-fluid">
            {% include_block block %}
    </div>
{% endfor %}


{% endblock %}
